// Scrollbar

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
background-color: #343432;
}

::-webkit-scrollbar-thumb {
background-color: $mainColor; 
border-radius: 10px;
}

/*

Regole Generali

*/

.main-container {
    width: 95%;
    margin: 0 auto;
}

.d-flex {
    display: flex;
} 

.jc-center {
    justify-content: center;
}

.ai-center {
    align-items: center;
}